@model Tuple<IEnumerable<Student>, IEnumerable<Course>>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<!-- Carousel -->

<div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="true">

    ```
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></button>
    </div>


<br />

<!-- Students Section -->

<section class="layout_padding what_we_do">
    <div class="container">

        ```
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Students</h3>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model.Item1.Take(4))
            {
                <div class="col-md-3 text-center">
                    <div class="card p-3 shadow-sm">
                        <h5>@item.Name</h5>
                    </div>
                </div>
            }
        </div>

    </div>
    ```

</section>

<br />

<h1 class="text-center">Courses</h1>

<!-- Courses Slider -->

<div class="testimonial-section before-footer-section">
    <div class="container">

        ```
        <div class="row justify-content-center">
            <div class="col-lg-12">

                <div class="testimonial-slider text-center">

                    @foreach (var item in Model.Item2)
                    {
                        <div class="item mb-4">
                            <div class="card p-4 shadow-sm">
                                <p>&ldquo;@item.CourseName&rdquo;</p>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>

    </div>
    ```

</div>
